<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.filatelistii">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Filatelistii">
        <activity
            android:name=".Necesar.Grafice.Grafic2017"
            android:exported="false" />
        <activity
            android:name=".Notes"
            android:exported="false" />
        <activity
            android:name=".ColetiiTimbre"
            android:exported="false" />
        <activity
            android:name=".ArataTimbre"
            android:exported="false" />
        <activity
            android:name=".ImageByCameraGallery"
            android:exported="false" />
        <activity
            android:name=".UpdateEvenimente"
            android:exported="false" />
        <activity
            android:name=".Albume"
            android:exported="false" />
        <activity
            android:name=".DisplayEvenimente"
            android:exported="false" />
        <activity
            android:name=".Feedback"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Rating"
            android:exported="false" />
        <activity
            android:name=".AdaugaTimbru"
            android:exported="false" />
        <activity
            android:name=".AdaugaEveniment"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>